body{
    background-color: #00bfff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
h1{
    color: white;
    font-size: 2em;
}
div#content{
    width: 450px;
    background-color: white;
    margin: auto;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    padding: 10px;
}
form{
    line-height: 30px;
    text-align: left;
    width: 350px;
}
input[value='Verificar']{
    margin-top: 5px;
    display: block;
}
div#pessoa{
    display: none;
}
div#pessoa > p{
    margin: 5px;
}
img{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
footer{
    color: white;
}