body{
    text-align: center;
    font-size: 18px;
}
h1{
    font-size: 2em;
}
h1, footer > p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.349);
}
div#content{
    width: 450px;
    height: 350px;
    background-color: white;
    margin: auto;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
}
div#content > div{
    padding: 10px;
}
div#content span{
    color: rgba(0, 0, 0, 0.781);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
img#paisagem_agora{
    display: block;
    margin: 3% auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
